build/
buildbook/asciidoc-manning-templates/
*~
chapter-tips.adoc
*.pdf
*.html
!docinfo.html
*.xml


*.pem
*.dat
notes/test.txt
syncweb.sh
checklist.txt
clipboard.adoc
graph.png
graph_original.png
notes/keyconversion/node_modules/
notes/keyconversion/signature.sign
style/asciidoctor.css
