@import url("asciidoctor.css");

@page {
    size: 7.375 9.25;
    margin: 1in;
}

.sect2 {
    page-break-after: always;
}

body {
    font-size: 13px;    
}


div>p,.literalblock,.listingblock,.imageblock>.title,div>.tableblock,.dlist,.olist,.ulist,.stemblock {
    width: 75%;
}

/* Don't set sublist width to 75%. */
li>.olist,li>.ulist {
    width: 100%;
}

/* Some tables need to use the full page width. Set [role="widetable"] on them. */
div>.widetable {
    width: 100%;
}

/* Hack to get list paragraph continuations to not be 75% of previous block.
See exercise 9 at end of ch2.
*/
li p {
    width:100%
}

table.tableblock>caption.title {
    white-space: unset;
    max-width: unset;
    font-size: 0.9em;    
}

.imageblock>.title {
    font-size: 0.9em;
}

.sidebarblock {
    width: 24%;
    float: right;
    padding: 0.25em;
    margin-bottom: 0.25em;
    page-break-inside: avoid
}

.sidebarblock p {
    font-size: 0.9em;
}

.gbnew img {
    width:50px;
}

.gbfaq::before,.gbinfo::before,.inbitcoin::before,.gbminiex::before {
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
}

.gbfaq::before {
    content:url(images/q-a-thumb.png);   
}

.gbinfo::before {
    content:url(images/light-bulb-thumb.png);   
}

.gbminiex::before {
    content:url(images/question-mark-thumb.png);   
}

.inbitcoin::before {
    content:url(images/bitcoinLogoThumb.png);   
}

.inbitcoin>.content>.title,.gbinfo>.content>.title,.gbfaq>.content>.title,.gbminiex>.content>.title {
    text-align: left;
}

.sidebarblock p,.sidebarblock .literalblock {
    width: 100%;
}

.btc img {
    height:1em;
    position:relative;
/*    top:0.17em;*/
    cursor:text;
}

.smallheight img {
    max-height: 2em;
    width: auto;
}