@import url("asciidoctor.css");

/*
pre,code {
    font-family:Courier New;
}
*/
p,.literalblock,.imageblock>.title {
    width: 75%;
}

.sidebarblock {
    width: 24%;
    float: right;
    padding: 0.25em;   	      
}

.inbitcoin:before {
    content:url(images/bitcoinLogoThumb.png);   
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
}

.sidebarblock p,.sidebarblock .literalblock {
    width: 100%;
}

.tableblock {
    font-size: small;
}

.btc img {
    height:1em;
    position:relative;
/*    top:0.17em;*/
    cursor:text;
}