<%
	cFN = attr 'cfn'
	cFN =~ /ch(.*)/
	chapterNumber = $1.to_i
%>
<?xml version="1.0" encoding="UTF-8"?><book xmlns="http://www.manning.com/schemas/book" xmlns:ns="http://www.manning.com/schemas/book" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<title><%= attr 'doctitle' %></title>



<%= content.chomp %>

</book>
